.about {
  .text {
    margin-bottom: 2rem;
    @include breakpoint(medium-tablet-max) {
      margin-bottom: 4rem;
    }
  }

  &__images {
    display: flex;
    margin-bottom: 2rem;
    @include breakpoint(medium-tablet-max) {
      margin-bottom: 4.5rem;
    }
    &__block {
      display: flex;
      flex-direction: column;
      height: 100%;
      overflow: hidden;
      position: relative;
      width: 100%;
    }

    &__cover {
      display: flex;
      width: 100%;
      max-height: 300px;
      min-height: 300px;
      height: 100%;
      position: relative;
      transition: all 0.8s;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
